# Node.js
node_modules
/node_modules
/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.*.local

# Build output
dist/
build/
.out/
.next/

# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Coverage directory used by testing tools
coverage/

# Temporary files
*.tmp
*.temp

#images 
/uploads/offers/*
/uploads/products/*
uploads/offers/*
uploads/products/*

